<div id="<%= dom_id movielist %>">
  <p>
    <strong>Name:</strong>
    <%= movielist.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movielist.description %>
  </p>

  <p>
    <strong>Directorname:</strong>
    <%= movielist.directorname %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movielist.language %>
  </p>

</div>
